
@font-face {    
    font-family:"Roboto-Medium"; 
	src: url(../fonts/Roboto-Medium.ttf);    
} 

@font-face {        
    font-family:"Roboto-Regular";
	src: url(../fonts/Roboto-Regular.ttf);  
}

@font-face {        
    font-family:"Roboto-Light";
	src: url(../fonts/Roboto-Light.ttf);       
}  

@font-face {    
    font-family:"Roboto-Thin";
    src: url(../fonts/Roboto-Thin.ttf);    
}

@font-face {    
    font-family:"bahnschrift";
    src: url(../fonts/bahnschrift.ttf);    
}

/*-----estilos base----------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;    
}
body{      
	font-family:  'Roboto-Light',sans-serif;  }

.contenedor {
	width: 100%;
	margin: auto;
}
section {
	width: 100%;	
    position: relative;
}

.linea {
    width: 100%;
    height: 4px;
}

.lineadel {
    width: 100%;
    height: 1px;    
    position: relative;
	background: #000000;    
}

.tit {
    text-align: center;
}


/*-----------header------------*/

h1 {
	float: left;  
    
}
header {
    position: fixed;
    top: 0px;
	width: 100%;
	height: 62px;
	background: #fff;    
	color: #fff;		 	
	z-index: 10;
	display: flex;
	justify-content: center;    
}

header .contenedor {
	width: 85%;	    
    display: flex;
    align-items: center;
    }

#logo img {
    width: 55px;    
}

.iconmenu {	    
    position: absolute;
    background: none;
    left: 85%;
    cursor: pointer;    
}

span img {
    width: 30px;   
}

#lineahead {
    position: fixed;    
    top: 61px;
    background: #bb1212;
    z-index: 12;
    height: 5px;    
}

/*----------menu-----------*/
#menu {
	position: absolute;
	top: 75px;
	left: -9px;
	width: 100%;
	height: 200px;
	background: rgba(51,51,51,.7);
	transition: all 0.2s;
	transform: translateX(-100%);
    }

#menu a {
	display: block;
	color: #fff;
	height: 50px;
	padding: 16px;
	font-size: 16px;
	padding-right: 20px;
	border-bottom: 1px solid rgba(255,255,255,.3); text-align: right;	
}

.menu a:hover {
	background: rgba(250,250,250,.2);
}


/*--------baner----------*/

#banner {  
	margin-top: 60px;      
}

#banner img {
	height: 350px;
	width: 100%;	
	object-fit: cover;
}

/*---------seccionlogo--------*/

#seccionlogo {
    position: relative;
    background: #191c1c;
    padding: 22px;      
}

#divlogotipo {       
    padding: 15px;
}

#divlogotipo img {
    display:block;
    margin:auto;
    width: 40%;
    }

#divlogoname {    
    padding: 15px;
}

#divlogoname img {
    display:block;
    margin:auto;
    width: 100%;     
}

#seccionlogo div h3 {       
    color: #fff; 
    font-family: 'Roboto-Thin';
    font-size:26px;   
    padding: 5px;  
    text-align: center;
}

/*-------- conceptos-------------*/

#concep-liga {
	position: relative;
	top: -121px;	
	background: #a53a3a;
	width: 88%;
	height: 22px;
    z-index: -1;
}

#lineaconcep {
    position: relative;
    top: 4px; 
    width: 100%;
    height: 4px;
    background: #000;    
}

#secconceptos {	  
	padding: 20px;	
    background: #fff;
	color: #000;
	text-align: center;    
}

#secconceptos h2 {
    color: #000; 
    font-family: 'Roboto-Medium';
    font-size:26px;   
    padding: 10px;
    position: relative;
    top: -30px;	    
}

#lineacon {	
	top: -10px;	
}

#secconceptos .contenedor {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    position: relative;
    top: -22px;    
}

.recc {
    background: #fff;
	margin: 11px;
	height: 133px;
	width: 133px;
	padding: 8px;
	border: 1.1px solid #000;
	justify-content: center; 
    display: flex;
    flex-wrap: wrap;
}

.recc h1{
    color: #000; 
    font-family: 'Roboto-Medium';
    position: relative;
    padding-top: 17px;
    font-size: 17px;    
    width: 100%;
    height: 33%;    
}

#rec1 img{
    position: relative;
    top: 22px;
    width: 48px;
}

#rec2 img{
    position: relative;
    top: 26px;
    width: 77px;
}
#rec3 img{
    position: relative;
    top: 17px;
    width: 38px;
}
#rec4 img{
    position: relative;
    top: 22px;
    width: 48px;
}
#rec5 img{
    position: relative;
    top: 14px;
    width: 44px;
}
#rec6 img{
    position: relative;
    top: 19px;
    width: 58px;
}

#lineacon2 {
	position: relative;
	top: -10px;
	width: 100%;
	height: 1px;
	background: #000000;
}

/*-------seccion servicios------------*/

#ligaserv {    
    position: relative;
	top: -85px;	
	background: #a53a3a;	
	height: 22px;    
    text-align: center;
    z-index: -1;
}

#seccionservicios {       
	height: 270px; 
    background:  #191c1c;
	color: #fff;
	padding: 20px;
	
}

#lineaserv {
    position: relative;
	top: -14px;
	width: 100%;
	height: 1px;
	background: #fff;      
}

#lineaserv2 {
    position: relative;
	top: 9px;
	width: 100%;
	height: 1px;
	background: #fff;
    z-index: 2;
}

#seccionservicios h2 {
    font-family: 'Roboto-Light';
    text-align: center;
    font-size: 30px;
	color: #fff;
    margin-top: 10px;
    margin-bottom: 22px;
}

#divserv { 
    position: relative;
    display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;     
    height: 66%;
    width: 95%;    
    padding-top: 12px;    
    border: 1.1px solid #191c1c;    
}

.divservarios{    
    height: 29%;
    width: 94%;
    border: 1.1px solid #191c1c;
}
.textserv{  
    position: relative;
    top: -14px;
    margin-left: 30px;
    width: 270px;
    height: 30px;    
    border: 1.1px solid #191c1c;    
}

.boton1 {
    position: relative;    
    width: 15px;
    height: 15px;
    background: #fff;   
    margin: 6px;
    top: 11px;
}

#divserv h3{
    position: absolute;
    font-family: 'Roboto-Light';    
    font-size: 17px;	
	color: #fff; 
    height: 40px;
}

/*------------ galeria------------*/

.secgaleria {	
	padding: 20px;	   
    background: #fff;
    color: #000;    
}

#ligaleria {
    /*--------liga----*/
	position: relative;
	top: -122px;	
	background: #bb1212;	
	height: 22px;
    width: 100%;
    z-index: -2;
}

#lineagal {  
    position: relative;
    top: 4px;
    width: 100%;
    height: 4px;
    background: #191c1c;    
}

#titulogal {
    position: relative;
    top: -12px;    
}

.secgaleria h2 {  
    font-family: 'Roboto-Medium';
    font-size:26px;
    text-align: center;   
}

#lineagaldel {    
    top: 25px;
}

.secgaleria .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;		
}

.secgaleria .imgrec {
	margin: 10px;
}

.secgaleria img {	
	width: 300px;
	height: auto;	
}

#lineagaldel2 {    
    top: 1px;    
    margin-top: 10px;
    margin-bottom: 10px;
}

/*---------sec-formulario-contactos-------*/

.seccontacto { 
    
} 

#ligacontacto {
      /*--------liga----*/
	position: relative;
	top: 30px;	
	background: #bb1212;	
	height: 22px;
    width: 100%;
    z-index: -2;
}

#lineaconta {  
    position: relative;
    top: 35px;
    width: 100%;
    height: 4px;
    background: #191c1c;    
}

#lineadelconta {
    top: 35px;         
}

.seccontacto .contenedor {    
    background: #e9e3e2;
    padding: 20px;       
}

#conteparrafo{
    height: 130px;    
}

.seccontacto h2{
    font-family: 'Roboto-Medium';  
    font-size:26px;
    text-align: center;   
}

#parrafo1  {
    font-family: 'Roboto-Regular';
    margin: 11px;
    text-align: left;
    margin-top: 24px;
}

#contenform {    
    background: #e9e3e2; 
    height: 500px;
}


#form{  
    position: relative;
    top: 0px;    
}

.f-label, .f-input {
    display: block;
	width: 100%;    
}

.f-label{
    margin: 3px;
    width: 80%;
    font-family: 'Roboto-Medium'; 
    font-size:18px;    
}

.f-input{
    margin-left: 13px;
    margin-bottom: 15px;
    width: 89%;
    height: 32px;
    border: .1px solid  #5a5a5a;     
}

.f-textarea {
    display: block;
    margin-left: 10px;
	min-width: 90%;
	max-width: 90%;
    min-height: 100px;
	max-height: 200px;
    border: .1px solid  #5a5a5a;    
}

.f-boton {
    width: 40%;
    height: 30px;
    margin: 11px;
    font-family: 'Roboto-Medium'; 
    font-size:18px;
    cursor: pointer;
    border: .1px solid  #5a5a5a;
}

/*---------datos de contacto -------*/

#columncontacto{   
    position: relative;
    top: 0px;    
    padding-top: 32px;
    width: 100%; 
    height: 200px;
    background: #191c1c;
    color: #fff;    
}

#columncontacto h3{
font-family: 'Roboto-Light';  
font-size:24px;
text-align: center;
}

#datoscontacto{
    padding: 0px;    
    justify-content: center;    
}

.tex {
	margin: 11px;
    padding: 2px;
	padding-left: 12px;
    font-size: 17px;    
    text-align: center;
}

/*--------lineas---------*/

#lineadatos {
    position: relative; 
    top: -193px;
    background: #fff;        
}

#lineadatos2 {     
    position: relative; 
    top: 33px;
    height: 1px;
    width: 100%;
    background: #fff;
    
}

#linearedes {
    position: relative;
	top: 33px;
	width: 100%;
	height: 1px;
	background: #fff;
}

#lineafoot {
	position: relative;
	top: 6px;
	width: 100%;
	height: 1px;
	background: #fff;
}

/*--------footer---------*/

footer {
    position: relative;
    top: -4.1px;
    height: auto;
	background: #191c1c;
	color: #fff;	
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
	display: flex;
	justify-content: center;	
}
/*------------------*/
#contenfooter {
    width: 100%;
}

.columna50 {	
    width: 100%;
}

.colint{
	 width: 100%;
    justify-content: center;
	}

/*----------------------*/

#divredes{
    display: inline-flex;
    justify-content: space-around;
    width: 100%; 
    height: 100px;
   
}
#divredes img{    
    margin: 10px;
    width: 38px;
    height: auto;
    position: relative;
    top: 22px;    
}
/*----------------------*/

.copy {
	text-align: center;
	margin: auto;
	margin-top: 15px;    
}

/*--------responsive 360-768px-----------------*/

@media (min-width:480px) {    
    #contenfooter {
		position: relative;
		width: 100%;
	}
	
	#contenfooter p {
		width: 100%;
	}
}

@media (min-width:580px) {     
    #banner h2 {
        font-size: 37px;
	}
		
	#secconceptos h2 {
		font-size: 30px;
	}
	.secgaleria h2 {
		font-size: 30px;
	}
	footer  {
		display: flex;  
        justify-content: center;	
    }
	.columna50 {
		display: flex;
   		justify-content: center;
		width: 50%;
	}
}
@media (min-width:768px) {	        	
	  #banner {
        height: 480px;
        overflow: hidden;
		height: auto;
    }	
	#banner img {
		height: 700px;
        margin-top: -100px;
		margin-bottom: -100px;
    }    
	#banner h2 {
    	font-size: 48px; 
	}
	
	#secconceptos {
		position:relative;
	    top: -21px;
		height: 480px;
	}
	
	#secconceptos .contenedor {
		padding-top: 30px;
	}
	#secconceptos .recuadro {
        border: 3px solid #fff;
	}
	#secconceptos #frase2 {
		padding-top: 27px;
	}
	
	#secconceptos h2 {
		font-size: 37px;
		padding-top: 10px;			
	}
	
	.secgaleria  {
		padding-top: 20px;
	}
		
	.secgaleria h2 {
		font-size: 37px;
	}
	
	#linea {
		width: 90%;
		position: relative;
		left: 4%;	
		margin-top: 20px;	
	}		
}
/*--------responsive 890---------------------*/

@media (min-width:890px) {		
	#banner img {
		 height: 800px;
	}
	#banner h2 {
    	font-size: 55px;		
    }
}


/*--------responsive 1024---------------------*/

@media (min-width:1024px) {
	
	.contenedor {
        width: 90%;
    }
	
     #botonbarr {
        display: none;
    }
    
	.menu {
        position: relative;
		top: -16px;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }	
    .menu a {		
        border: none;
		height: 60px;
		padding: 19px;
		font-size: 20px;
    }    
    
    header .contenedor {
		width: 85%;
	}
    
    #banner {
        height: 700px;
		height: auto;
        overflow: hidden;
    }
    
    #banner img {
		height: 1000px;
		object-fit: cover;
		position: relative;
		margin-top: -250px;
		margin-bottom: -100px;		
		margin-bottom: -100px;		
	}		
	
	#banner h2 {
    	font-size: 65px;		
    }

	#secconceptos {
		height: 630px;
		position: relative;
	}
    
    
	#secconceptos .recuadro{
		height: 230px;
    	width: 230px;
		margin-left: 40px;
		margin-right: 40px;
		border: 4px solid #fff;;
	}
	
	#secconceptos h2 {
		font-size: 43px;
		padding-top: 20px;
	}

	#secconceptos .contenedor {
		position: relative;
		top: 60px;
		width: inherit;
	}
	.span1 {
		position:relative;
		top: 64px;
		font-size: 22px;        
    }	    
    
	#frase2 {
		position: relative;
		top: 150px;
	}
        
	.secgaleria .contenedor {
		width: 100%;
	}
	
	.secgaleria .imgrec {
		width: 320px;
		margin: 20px;		
    }	    
    
	.secgaleria h2 {
		font-size: 43px;
	}     
 }




